<section class="relative  h-[100vh] flex items-center justify-center text-center overflow-hidden font-[Merriweather]">
  <img
    src="/public/foto-local.jpg"
    alt="Decoración minimalista"
    class="fixed inset-0 w-full h-full object-cover opacity-40 mask-radial-from-80% rounded-b-xl md:w-full  "
  />

  <div class="relative z-10 px-6">
    <h1 class="text-4xl md:text-6xl text-slate-800 mb-4 font-semibold">
      DecoCe
    </h1>
    <p class="text-lg md:text-xl text-slate-800 max-w-2xl mx-auto font-medium">
      Muebles, accesorios y detalles únicos para transformar tu hogar con elegancia y sencillez.
    </p>
    <span class="block text-sm mt-1 text-gray-800"><i class="fas fa-map-marker-alt"></i> Local 42, Terminal de Omnibus</span>
    <a
      href="#"
      class="mt-8 inline-block px-6 py-3 bg-[#d6a8be] text-gray-700 hover:text-white rounded-full text-sm tracking-wide hover:bg-gray-800 transition duration-300 font-bold"
    >
      Explorar colección
    </a>
  </div>
</section>
